# ─────────────────────────────────────────────────────────────────────────────
# Variables de Entorno — Plataforma de Gestión Estudiantil (ITSE 2026)
# ─────────────────────────────────────────────────────────────────────────────

VITE_SUPABASE_URL=https://qujeglqucgttspxgdhfk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF1amVnbHF1Y2d0dHNweGdkaGZrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE2MDA3NzYsImV4cCI6MjA4NzE3Njc3Nn0.yxocNfEnQ_-wMTKW6c3IazyYmzYpki2HQolXi7MPC1o

